<footer id="footer">
    <div class="container">
      <!-- Attribution -->
      <div class="attribution">
        <a rel="license" href="http://creativecoms.org/licenses/by-sa/4.0/">
          <img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
        </a>
        <br />Todo el material de esta web está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">licencia de Creative Commons Reconocimiento-CompartirIgual 4.0 Internacional</a>.

      </div>
      <div class="attribution">
        <a
          href="https://github.com/CommunityPro/portfolio-html"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="https://user-images.githubusercontent.com/62628408/157202263-9174da24-b19a-4017-9b7c-a1d26ae8f014.svg"
            alt="attribution"
            width="150px"
          />
        </a>
      </div>
    </div>
  </footer>
  <script src="{{ $.Site.BaseURL }}js/script.js"></script>