<script src="{{ $.Site.BaseURL }}/js/webfont.js"></script>
<script src="{{ $.Site.BaseURL }}/js/snap.svg-min.js"></script>   
<script src="{{ $.Site.BaseURL }}/js/underscore-min.js"></script>
<script src="{{ $.Site.BaseURL }}/js/sequence-diagram-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script src="{{ $.Site.BaseURL }}/js/raphael.min.js"></script>
<script src="{{ $.Site.BaseURL }}/js/flowchart-latest.js"></script>    
<script src="{{ $.Site.BaseURL }}/js/main.js"></script>

<script>
    mermaid.initialize({ startOnLoad: true });
</script>